<h1 class="text-2xl">승인되지 않은 업무일지</h1>
<br>
<%= form_with url: '/api/v1/diary/search', local: true, method: :post, data: { turbo: false } do |form| %>
  <div class="input-group">
    <!--    <div class="form-control">-->
    <!--    <%#= form.label :query %><br>-->
    <%= form.text_field :q, value: @query, class: "form-control" %>
    <!--    </div>-->
    <div class="btn btn-primary">
      <%= form.submit value: "검색" %>
    </div>
  </div>
<% end %>
<%#= render SearchButtonComponent.new() %>
<%= render DiariesTableComponent.new(diaries: @diaries) %>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<ul>-->
<%# @diaries.each do |diary| %>
  <!--    <li>-->
  <!--      <a href="/api/v1/diary/detail/<%#= diary.id %>">-->
  <%#= '✅' if @current_user.permission == "admin" and diary.admitted == true %>
  <%#= '❌' if @current_user.permission == "admin" and diary.admitted == false %>
  <%#= diary.date %>
  <!--        <%#= diary.user.name %></a>-->
  <!--    </li>-->
  <%# end %>
  <!--</ul>-->
