<h1>새 업무일지</h1> <br>
<%= form_with url: '/api/v1/diary/create', method: :post do |form| %>
  <div class="input-group mb-3">
    <%#= form.label :date, class: "form-control" %>
    <%= form.date_field :date, class: "form-control" %>

  <!--  <div id="event">-->
  <!--    <%#= form.label :events %><br>-->
  <%#= form.time_field :time %>
  <%#= form.text_field :desc %>
  <!--  </div>-->


    <%= form.submit class: "btn btn-primary", value: "추가하기"%>
  </div>
<% end %>


<!--<h3>Add an event </h3>-->
<%# form_tag url: '/api/v1/event/create', method: :post do  %>
<%#= time_field_tag :start_time %>
<%#= time_field_tag :end_time %>
<%#= text_field_tag :desc %>
<%#= hidden_field_tag :diary_id, value: @diary.id %>
<%#= submit_tag %>
<%# end %>
