<!DOCTYPE html>
<html>
<head>
  <title>업무일지</title>
  <meta charset='utf-8' />
  <%#= wicked_pdf_stylesheet_link_tag "application" -%>
  <%= wicked_pdf_stylesheet_link_tag "tailwind" %>

</head>
<body>
<%= yield %>
</body>
</html>